<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link rel="shortcut icon" href="img/logo-removebg-preview1.png">
    <title>CosmoCat</title>
</head>

<body>
    <header class="top">
        <nav>
            <ul>
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/news">NEWS</a>
            </ul>
        </nav>
    </header>

    <main class="main-sector">
        <div class="head-profile">
            <h2 class="reg-h2">About</h2>
            <div class="avatar">
                <img id="profile-avatar"
                    src="https://i.redd.it/cat-in-a-cowboy-hat-in-tintype-v0-gw7lqmzc83ya1.jpg?width=768&format=pjpg&auto=webp&s=18b295314e9bbf7f3980913bb684027ae7433fdb"
                    alt="картинка">
            </div>
            <div class="user-data">
                <h1 class="ud">Ваш логин: </h1>
                <h1 class="ud">Эл. почта: email</h1>
                <h1 class="ud">Ваш возраст: возраст</h1>
                <h1 class="ud">Ваш пол: пол</h1>
                <h1 class="ud">Ваши увлечения: </h1>
            </div>
            <div class="logout">
                <a href="/logout"><input type="button" value="Выйти"></a>

            </div>
        </div>
    </main>



    <script src="./main.js"></script>

</body>

</html>