<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="auth.css">
    <link rel="shortcut icon" href="img/logo-removebg-preview1.png">
    <title>CosmoCat</title>
</head>

<body>
    <header class="top">
        <nav>
            <ul>
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/news">NEWS</a>
            </ul>
        </nav>
    </header>

    <main class="main-sector">
        <h2 class="reg-h2">Авторизация</h2>
        <form class="auth-container" action="/auth" method="post">
            <label for="username">Логин:</label>
            <input type="text" name="username" id="">
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="">
            <input id="sub" type="submit" value="Войти">
        </form>
    </main>


</body>

</html>