<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/logo-removebg-preview1.png">
    <title>CosmoCat</title>
</head>

<body>
    <header class="top">
        <nav>
            <ul>
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/news">NEWS</a>
            </ul>
        </nav>
    </header>

    <main class="main-sector">
        <h1 class="zagolo">YOUNG <br>DREAMS</h1>
        <h2 class="za-text">THE MOST PERFECT <br> PHASE OF LIFE</h2>
    </main>

    <footer class="bottom">
        <a class="btn" href="/register">ENTER</a>
    </footer>
</body>

</html>